<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{block title}Sborovna{/block}</title>
    {include layout/head.latte}
</head>
<body>
    {* Google Tag Manager (noscript) - from scripts.latte *}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQTJVHR" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    
    {include layout/svgIcons.latte}
    {include layout/header.latte}
    <main>
        {include content}
    </main>
    
    {* JavaScript at the end *}
    <script src="{$basePath}/assets/penzionsborovna.cz/script.js"></script>
</body>
</html>
