<section class="section-banner">
    <div class="jarallax">
        <div class="jarallax-table">
            <div class="jarallax-table-cell">
                <img class="jarallax-img" src="{$basePath}/assets/penzionsborovna.cz/images/hero.jpg" alt="">
                <h1 class="_hf"><span>
                    {include ../../../layout/logoSecond.latte}
                </span><span>Liberty<br> in the shade of the church</span></h1>
            </div>
        </div>
    </div>
</section> 