<section class="section">
    <div class="container -narrow _cdg">
        <h2 class="_hf -big"><img
            src="/assets/src/svg/h1.svg"
            alt="Logo Sborovna"></h2>
        <p class="text-center _ls1">Kultovní ubytování pro 25 lidí s kuchyní a jídelnou, kde nechybí vinný sklípek, vybavený bar a&nbsp;plátno na půdě, protože koncert může začít kdykoliv.</p>
        <p class="text-center _ls1">Do Zbraslavic u Kutné Hory vedou všechny cesty, stačí vyrazit.</p>
    </div>
</section> 