<section class="section">
    <div class="container -narrow _cdg">
        <h2 class="_hf -big"><img
            src="/assets/src/svg/h1-en.svg"
            alt="Logo Sborovna"></h2>
        <p class="text-center _ls1">An iconic property accommodating up to 25 people with a&nbsp;kitchen and a&nbsp;dining room, a&nbsp;wine cellar, a&nbsp;fully equipped bar and a&nbsp;projector screen in the attic, because screening can start at any time.</p>
        <p class="text-center _ls1">All roads lead to Zbraslavice near Kutná Hora, just take off.</p>
    </div>
</section> 