{block title}Sborovna{/block}

{block content}
<div class="main-content">
    {include home/banner.latte}
    {include home/intro.latte}
    {include home/gallery.latte}
    {include home/experiences.latte}
    {include home/rooms.latte}
    {include home/maps.latte}
    {include home/trips.latte}
    {include home/contact.latte}
</div>
{/block} 