# see https://doc.nette.org/en/configuring

parameters:


application:
	mapping: App\Presentation\*\**Presenter


database:
	dsn: 'sqlite::memory:'
	user:
	password:


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets


di:
	export:
		parameters: no
		tags: no

