<section class="section">
    <div class="container -narrow">
        <h2 class="-big">The most beautiful place on earth</h2>
        <p class="text-center">Our Solitude can be found amongst forests, meadows and ponds. There're only just it and nature. Its clean, modern and free concept will enchant you. A new building with details of original farmhouse offers accommodation for up to 50 people. The generous common areas, the kitchen with bar and beautiful rooms are complemented by the marvellous children's playroom over two floors. Have breakfast on the terrace above the pond, let children run in the garden full of adventure and enjoy relaxation in nature.
        It takes you an hour to get to us from Prague and Budějovice, while from Brno and Pilsen it takes two.
        Welcome!
        </p>
    </div>
</section> 