{block title}Hojšín{/block}

{block content}
<div class="main-content">
    {include default/banner.default.latte}
    {include default/intro.default.latte}
    {include default/gallery.default.latte}
    {include default/experiences.default.latte}
    {include default/rooms.default.latte}
    {include default/maps.default.latte}
    {include default/trips.default.latte}
    {include default/contact.default.latte}
</div>
{/block}
