{block title}Hojšín{/block}

{block content}
<div class="main-content">
    {include banner.default.latte}
    {include intro.default.latte}
    {include gallery.default.latte}
    {include experiences.default.latte}
    {include rooms.default.latte}
    {include maps.default.latte}
    {include trips.default.latte}
    {include contact.default.latte}
</div>
{/block}
