{block title}Hojšín - Discover solitude{/block}

{block content}
<div class="main-content">
    {include en/banner.en.latte}
    {include en/intro.en.latte}
    {include default/gallery.default.latte}
    {include en/experiences.en.latte}
    {include en/rooms.en.latte}
    {include en/maps.en.latte}
    {include en/trips.en.latte}
    {include en/contact.en.latte}
</div>
{/block} 