{block title}Companies - Hojšín{/block}

{block content}
<div class="main-content">
    {include firmy/hero.en.latte}
    {include firmy/workspace.en.latte}
    {include firmy/teambuilding.en.latte}
    {include firmy/accommodation.en.latte}
    {include firmy/flexibility.en.latte}
    {include firmy/pricing.en.latte}
    {include firmy/cta.en.latte}
    {include firmy/gallery.latte}
</div>
{/block} 