{block title}Firmy - Hojšín{/block}

{block content}
<div class="main-content">
    {include firmy/hero.latte}
    {include firmy/workspace.latte}
    {include firmy/teambuilding.latte}
    {include firmy/accommodation.latte}
    {include firmy/flexibility.latte}
    {include firmy/pricing.latte}
    {include firmy/cta.latte}
    {include firmy/gallery.latte}
</div>
{/block} 