{block title}Hojšín - Discover solitude{/block}

{block content}
<div class="main-content">
    {include home/banner.en.latte}
    {include home/intro.en.latte}
    {include home/gallery.latte}
    {include home/experiences.en.latte}
    {include home/rooms.en.latte}
    {include home/maps.en.latte}
    {include home/trips.en.latte}
    {include home/contact.en.latte}
</div>
{/block} 